*{
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  display: flex;
  width: 100%;
  background-image: linear;
  background: LightGray;
  background-position: center;
  background-size: cover;
}

.logo{
  width: 50px;
  cursor: pointre;
}
.menu-icon{
  width: 30px;
  cursor: pointer;
  margin-left: 40px;   
}
a {
  display: block;
  text-decoration: none;
}
.navbar ul {
  height: 12%;
  display: flex;
  flex-direction: row;
}
nav ul li{
  padding: 20px;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  font-size: 13px;
  color: black;
}
.row{
  display: flex;
  height:  88%;
  align-items: center;
}
.col{
  flex-basis: 50;
}
h1{
  color: #fff;
  font-size: 100px;
  
}
p{
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}
button{
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  uotline: none;
  margin-top: 30px;  
}
.row {
  background: black; 
}
.card{
  width: 200px;
  height: 230;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 1.2rem;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(images/pic-1.png);
  background-position: center;
  background-size: cover; 
  transiton: transform 0.5s;
}
.card1{
  background-image: url(imges/pic-1.png);
}
.card2{
  background-image: url(imges/pic-2.png);
}
.card3{
  background-image: url(imges/pic-3.png);
}
.card4{
  background-image: url(imges/pic-4.png);
}

.card:hover{
  transform: transform(-10px);
}
h5{
  color: #fff;
  text-shadow: 0 0 5px #999;
}

.card p{
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}
